html {
  scroll-behavior: smooth;
}

body {
  background: #f2f2f2;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/ohbruder.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 15rem;
  padding-bottom: 25rem;
  background-attachment: fixed;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}


header.masthead .container {
  padding-bottom: 5rem;
}

.py-5 .container {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.py-5 .container h1 {
  text-align: center;
}

@media screen and (max-width: 768px) {
  header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("../img/ohbruder.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-attachment: fixed;
  }

  header.masthead h1 {
    font-size: 2rem;
  }


  /*contatos*/

  .box1 {
    font-size: 0.7rem;
  }

  .box3 {
    font-size: 0.7rem;
  }

  .box2 {
    font-size: 0.7rem;
  }




}

.btn-primary:hover {
  border-top-color: #155580;
  background: #155580;
}

.btn-primary:active {
  border-top-color: #1b435e;
  background: #1b435e;
}

#logo {
  border-radius: 50%
}

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 35rem;

}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
  padding-left: 120px;
}


.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
  color: #101084;
}

.features-icons.bg-light.text-center .container h1 {
  padding-bottom: 4rem;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}


/* Definindo as cores antes do efeito de transição  */
.list-inline.mb-0 li a:active,
.list-inline.mb-0 li a:visited,
.list-inline.mb-0 li a:link {
  text-decoration: none;
  border: 0;
  color: #888;
}

/* Tempo de transição */
#face,
#twitter,
#instagram {
  transition: color 0.3s;
}

/* Alterando as cores dos logos após o hover */
#face:hover {
  color: #101084;
}

#twitter:hover {
  color: #1DA1F2;
}

#instagram:hover {
  color: #405DE6;
}


#bg-coffee {
  background-image: url("/resources/img/coffee-beans-background-8.jpg");
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 13;
  background-blend-mode: lighten;
}


/* Galeria  */
.photo-gallery {
  color: #313437;
  background-color: #fff;
  padding-top: 100px;
}

.photo-gallery p {
  color: #7d8285;
}

.photo-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.photo-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom: 0;
}

.photo-gallery .photos {
  padding-bottom: 20px;
}

.photo-gallery .item {
  padding-bottom: 30px;
}

/*Contato*/

.contact {
  padding-top: 45px;
}

.contact .font-weight-dark.text-center {
  padding-bottom: 35px;
}

.contact a {
  color: #fff;
}

.contact a:link {
  text-decoration: none;
}

.box1 {
  background: #101084
}

.box2 {
  background: #101084;
}

.box3 {
  background: #101084;
}


.contact #author a {
  color: #fff;
  text-decoration: none;

}